<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= findCamp.id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title"
          >Edit the name of campground:</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%= findCamp.title %>"
          required
        />
        <div class="invalid-feedback">Campground name is required!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description"
          >Edit the description of campground:</label
        >
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          required
        >
<%= findCamp.description  %></textarea
        >
        <div class="invalid-feedback">
          Description for new campground name is required!
        </div>
      </div>

      <div class="mb-3">
        <label class="mb-1" for="price">Edit the price of campground:</label>
        <div class="input-group">
          <span class="input-group-text" id="price">$</span>
          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="basic-addon1"
            id="price"
            name="campground[price]"
            value="<%= findCamp.price  %>"
            required
          />
        </div>
        <div class="invalid-feedback">Campground price is required!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location"
          >Edit the location of campground:</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= findCamp.location  %>"
          required
        />
        <div class="invalid-feedback">Campground location is required!</div>
      </div>
            <div class="mb-3">
        <label class="form-label" for="fileInput"
          >Add more images for the campground:</label
        >
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="fileInput"
            name="campground[images]"
            multiple
          />
          <label class="input-group-text" for="fileInput">Upload</label>
        </div>
        <% if(findCamp.images) {%>
        <div class="form-check ps-0 mb-3">
           <label class="mb-2">Click on the images you'd like to remove.</label>
          <div class="row row-cols-3">
            <% findCamp.images.forEach((img, i) => {%>
              <div class="col">
              <input class="form-check-input d-none" type="checkbox" value="<%= img.fileName %>" name="deleteImages[]" id="img-<%=i%>">
              <label class="form-check-label" for="img-<%=i%>">
                <img src="<%= img.thumbnail %>" alt="campground image" class="img-thumbnail">
              </label>
            </div>
            <% }) %>
          </div>
        </div>
        <% } %>
      <button class="btn btn-info mb-3 text-light">Update</button>
    </form>
  </div>
</div>
