<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <div class="mb-3">
      <div id="carouselIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <% findCamp.images.forEach((img, i) => {%>
            <% if(findCamp.images.length > 1) {%>
          <button
            type="button"
            data-bs-target="#carouselIndicators"
            data-bs-slide-to="<%= i %>"
            class="<%= i === 0 ? "active" : ""%>"
            aria-current="true"
          ></button>
            <% } %>
          <% }) %>
        </div>
        <div class="carousel-inner">
          <% findCamp.images.forEach((img, i) => { %>
          <div class="carousel-item <%= i === 0 ? "active" : "" %>">
            <img src="<%= img.url %>" class="d-block w-100" alt="..." />
          </div>
          <% }) %>
        </div>
        <% if(findCamp.images.length > 1) {%>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
    </div>
    <form
      action="/campgrounds/<%= findCamp.id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title"
          >Edit the name of campground:</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%= findCamp.title %>"
          required
        />
        <div class="invalid-feedback">Campground name is required!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description"
          >Edit the description of campground:</label
        >
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          required
        >
<%= findCamp.description  %></textarea
        >
        <div class="invalid-feedback">
          Description for new campground name is required!
        </div>
      </div>

      <div class="mb-3">
        <label class="mb-1" for="price">Edit the price of campground:</label>
        <div class="input-group">
          <span class="input-group-text" id="price">$</span>
          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="basic-addon1"
            id="price"
            name="campground[price]"
            value="<%= findCamp.price  %>"
            required
          />
        </div>
        <div class="invalid-feedback">Campground price is required!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location"
          >Edit the location of campground:</label
        >
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= findCamp.location  %>"
          required
        />
        <div class="invalid-feedback">Campground location is required!</div>
      </div>
            <div class="mb-3">
        <label class="form-label" for="fileInput"
          >Add more images for the campground:</label
        >
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="fileInput"
            name="campground[images]"
            multiple
          />
          <label class="input-group-text" for="fileInput">Upload</label>
        </div>

      <button class="btn btn-info mb-3 text-light">Update</button>
    </form>
  </div>
</div>
