<% layout("layouts/boilerplate") %>
<div id="map" class="mb-3 cluster-map"></div>
<h1>All Campgrounds</h1>
<% for(let camp of campgrounds) {%>

<div class="card mb-3">
  <div class="row">
    <div class="col-md-4">
      <% if(camp.images.length > 0) {%>
      <img
        src="<%= camp.images[0].url  %>"
        alt="campground image"
        class="img-fluid"
      />
      <% } else {%>
      <img
        src="https://res.cloudinary.com/dirdof2ca/image/upload/h_350,c_scale,ar_16:9/v1743866414/YelpCamp/csdhlgm7u7x15txzz0xx.jpg"
        alt="campground image"
        class="img-fluid"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
        <p class="card-text">
          <small class="text-body-secondary"><%= camp.location %></small>
        </p>
        <a href="/campgrounds/<%= camp.id %>" class="btn btn-outline-primary"
          >View Details</a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
<button class="btn btn-success mb-3">
  <a href="/campgrounds/new" class="text-light text-decoration-none">Add New</a>
</button>

<script>
  const mapboxToken = "<%- process.env.MAPBOX_TOKEN %>"
  const campgrounds =  {features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/js/clusterMap.js"></script>
