<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-2">
    <div class="card h-auto">
      <% if (!findUser.profilePic) { %>
      <img
        src="https://res.cloudinary.com/dirdof2ca/image/upload/v1747238909/blank-profile-picture-973460_1920_usz8ox.png"
        alt="profile picture"
        class="card-img"
      />
      <% } else { %>
      <img
        src="<%= findUser.profilePic.url %>"
        alt="profile picture"
        class="card-img"
      />
      <% } %>

      <div class="card-body">
        <h4 class="card-title"><%= findUser.username %></h4>
        <div>
          <p><b><%= following.length %></b> Following</p>
          <p><b><%= followers.length %></b> Followers</p>
        </div>

        <% if (currentUser && currentUser.id !== findUser.id) { %> <% if
        (isFollowing) { %>
        <form
          action="/profile/<%= findUser.id %>/unfollow?_method=DELETE"
          method="post"
        >
          <button class="btn btn-outline-danger btn-sm">Unfollow</button>
        </form>
        <% } else { %>
        <form action="/profile/<%= findUser.id %>/follow" method="post">
          <button class="btn btn-outline-success btn-sm">Follow</button>
        </form>
        <% } %> <% } %> <% if (currentUser && currentUser.id === findUser.id) {
        %>
        <button type="button" class="btn btn-outline-primary btn-sm mb-3">
          <a
            href="/profile/<%= findUser.id %>/edit"
            class="text-decoration-none text-reset"
            >Edit Profile</a
          >
        </button>
        <% } %>
      </div>
    </div>
  </div>

  <div class="col-10"></div>
</div>
