<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-2">
    <div class="card h-auto">
      <a
        class="text-decoration-none text-black"
        href="/profile/<%= findUser.id %>"
      >
        <img
          src="<%= findUser.profilePic.url %>"
          alt="profile picture"
          class="card-img"
        />
      </a>

      <div class="card-body">
        <h4 class="card-title">
          <a
            class="text-decoration-none text-black"
            href="/profile/<%= findUser.id %>"
            ><%= findUser.username %></a
          >
        </h4>
        <div>
          <p>
            <a
              class="text-decoration-none text-black"
              href="/profile/<%= findUser.id %>/follow"
              ><b><%= following.length %></b> Following</a
            >
          </p>
          <p>
            <a
              class="text-decoration-none text-black"
              href="/profile/<%= findUser.id %>/follow"
              ><b><%= followers.length %></b> Followers</a
            >
          </p>
        </div>

        <% if (currentUser && currentUser.id !== findUser.id) { %> <% if
        (isFollowing) { %>
        <form
          action="/profile/<%= findUser.id %>/unfollow?_method=DELETE"
          method="post"
        >
          <button class="btn btn-outline-danger btn-sm">Unfollow</button>
        </form>
        <% } else { %>
        <form action="/profile/<%= findUser.id %>/follow" method="post">
          <button class="btn btn-outline-success btn-sm">Follow</button>
        </form>
        <% } %> <% } %> <% if (currentUser && currentUser.id === findUser.id) {
        %>
        <button type="button" class="btn btn-outline-primary btn-sm">
          <a
            href="/profile/<%= findUser.id %>/edit"
            class="text-decoration-none text-reset"
            >Edit Profile</a
          >
        </button>
        <% } %>
      </div>
    </div>
  </div>

  <div class="col-5">
    <h2>Following:</h2>
    <% for(let flg of following) {%>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="<%= flg.following.profilePic.url%>"
            class="img-fluid rounded-start"
            alt="profile picture"
          />
        </div>
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body">
            <h5><%= flg.following.username %></h5>
            <div class="d-flex">
              <button class="btn btn-outline-primary btn-sm">
                <a
                  href="/profile/<%= flg.following.id %>/"
                  class="text-decoration-none text-reset"
                  >View Profile</a
                >
              </button>
              <% if (currentUser && currentUser.id === findUser.id) { %>
              <form
                action="/profile/<%= flg.following.id %>/unfollow?_method=DELETE&source=follow_list"
                method="post"
              >
                <button class="btn btn-outline-danger btn-sm ms-3">
                  Unfollow
                </button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="col-5">
    <h2>Followers:</h2>
    <% for(let flg of followers) {%>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="<%= flg.follower.profilePic.url%>"
            class="img-fluid rounded-start"
            alt="profile picture"
          />
        </div>
        <div class="col-md-8 d-flex align-items-center">
          <div class="card-body">
            <h5><%= flg.follower.username %></h5>
            <button class="btn btn-outline-primary btn-sm">
              <a
                href="/profile/<%= flg.follower.id %>/"
                class="text-decoration-none text-reset"
                >View Profile</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
